<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-6">

  <nav>
    <h6 class="footer-title">Panel de Cursos</h6>
    <a class="link link-hover" href="https://angular.dev/">Frontend</a>
    <a class="link link-hover" href="https://dotnet.microsoft.com/en-us/apps/aspnet">Backend</a>
    <a class="link link-hover" href="https://medium.com/@riffkikris13/fullstack-app-with-asp-net-core-and-angular-5bb2f2e567cf">FullStack</a>
  </nav>

  <nav>
    <h6 class="footer-title">Universidad de Guayaquil</h6>
    <a class="link link-hover" href="https://edusuperior.ec/oferta-academica/ies/universidad-de-guayaquil/carreras/software">Ingeniería de Software</a>
    <a class="link link-hover" href="https://catalogo.ug.edu.ec/cgi-bin/koha/opac-library.pl?branchcode=18">Facultad Ciencias Matemáticas y Física</a>
    <a class="link link-hover" href="http://179.60.136.74/ESTUDIANTES/">Estudiante UG</a>
  </nav>

  <nav>
    <h6 class="footer-title">Redes UG</h6>
    <a class="link link-hover" href="https://www.facebook.com/UdeGuayaquil/?locale=es_LA">Facebook UG</a>
    <a class="link link-hover" href="https://www.instagram.com/universidad_guayaquil/">Instagram UG</a>
    <a class="link link-hover" href="https://www.ug.edu.ec/">Sitio Oficial</a>
  </nav>

</footer>
